<%= form_for :user do |f| %>
  <table>
    <tr>
      <td>
        Add some interests here!
      </td>
      <td><%=options_for_select(Interest.all, :id, :name) %>
      </td>
    </tr>
  </table>
<% end %>
