<h1>This is the Users New</h1>
<a href="/auth/linkedin">Click here to login to your LinkedIn Account and create your Mentor Match Account</a>

<!-- <%= link_to 'Log in with LinkedIn', sessions_create_path %> -->
