<h1>This is the Users New</h1>
<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77gircg58feacx&redirect_uri=http://127.0.0.1:3000/auth/linkedin/callback&state=batman&scope=r_basicprofile">Click here to login to your LinkedIn Account and create your Mentor Match Account</a>

<!-- <%= link_to 'Log in with LinkedIn', sessions_create_path %> -->
