<style type="text/css">
body {background-color: #003B63}
</style>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="small-12 columns">
    <center><a href="/"><%= image_tag '300pxLogo.png' %></a></center>
  </div>
</div>
