<div class="container">
  <div class="row text-center">
    <div class="small-12 columns box fade-in one">
      <i class="step fi-map size-72"></i>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 text-centered columns box fade-in one" >
      <h1>Navigating Careers<br>can be tricky.</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 columns box fade-in two">
      <i class="step fi-compass size-72"></i>
    </div>
    <div class="small-12 columns box fade-in two">
      <h1>Find your way<br>with Mentorship!</h1>
    </div>
  </div>
  <br>

  <% if @errors %>
    <% @errors.each do |error| %>
      <br>
      <div class="row">
        <p class="small-2 columns text-center"></p>
        <div class="small-3 columns text-center">
          <i id="error-glyphicon-notification" class="step fi-alert size-36"></i>
        </div>
        <div class="small-5 columns text-center">
          <b><%=error%></b>
        </div>
        <p class="small-2 columns text-center"></p>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="small-12 columns box fade-in three">
      <a href="/auth/linkedin" class="button expanded"><i class="step fi-social-linkedin size-48"></i><br>Sign In or Register With LinkedIn!</a>
    </div>
  </div>
  <hr class="style-two">
</div>
