<div class="container">
  <div class="row text-center">
    <div class="small-12 columns">
      <i class="step fi-map size-72"></i>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 text-centered columns">
      <h1>Navigating Careers<br>can be tricky.</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 columns">
      <i class="step fi-compass size-72"></i>
    </div>
    <div class="small-12 columns">
      <h1>Find your way<br>with Mentorship.</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
      <a href="/auth/linkedin" class="button expanded"><i class="step fi-social-linkedin size-72"></i><br><h2>Sign up via your LinkedIn account</h2></a>
    </div>
  </div>

  <hr class="style-two">
</div>
