<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Navigating Careers can be tricky.</h1>
    <h1>Find your way with Mentorship.</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <a href="/auth/linkedin" class="button round">Sign up through LinkedIn</a>
  </div>
</div>

<hr class="style-two">
