<div class="small-6 columns">
  <a href="/interests/<%=interest.interest.id%>" class="newly-added-button button expanded warning professional-interest-button"><b><%=interest.interest.name%></b></a>
</div>
