/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui

 */

 /* This media screen div is for iphone5 users (or those with 320px screens) */
@media screen and (max-width: 350px) {
    #users-edit-form-table td small{
        font-size:14px;
        color: #000000;
    }
    body { font-size:13.75px;
    font-family: 'Open Sans', sans-serif;}
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    /*font-family:'Source Sans Pro', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

.title-bar{
    background-color: #003b63;
}

.title-bar-title a {
    color: white;
}

#jackie-search-bar{
padding: 0.75em 0.75em;
width: 70%;
}

.button {
    border:2.5px solid;
    border-radius: 20px;
}

hr.style-one {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-one:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}


hr.style-three {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


.notification-for-new-message-or-request {
  color:#FF9700
}

.button.warning{ background-color:#FF9700; }
#no-interests-glyphicon{ color:#FF9700; }
#error-glyphicon-notification{ color:red; }
#users-edit-form-table small{
    font-size:16px;
    color: #000000;
}
a.professional-interest-button {
    height:3.5em;
}

.fuzzy-search-button {
    height: 90px;
}




.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.size-96 { font-size: 96px; }

/* STYLING FOR CONVERSATIONS AND MESSAGES BELOW */

#sticky-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  padding-top: 15px;
}

#list-of-messages-in-the-messages-index {
  margin-bottom: 50px;
  padding: 10px;
  max-height: 63vh;
  overflow-y: scroll;
}



/* STYLING BELOW IS APPLIED TO THE CONVERSATIONS INDEX PAGE */
/* Please look at how it appears and approve/reject styling as this would need to be applied across all images */

.image-styling-to-look-more-centered {
  padding-left: 30px;
}

/* JQUERY UI Tabs CSS for Match Index follows */
li.our-match-index-tabs {
    width:32.33%;
}

.our-match-index-tabs a {
    width: 100%;
}





/*Animation for Page Load on Welcome Page*/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.25s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 0.75s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.25s;
}
